<ion-view view-title="Lectures">
    <ion-content >
        <ion-list>
            <ion-item ui-sref="app.lecture">Tanecikli yapi</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
            <ion-item ng-click="showAlert()">Empty</ion-item>
        </ion-list>
    </ion-content>
</ion-view>